@import url("https://fonts.googleapis.com/css?family=Courgette|Fjord+One|Lato|Montserrat|Palanquin|Playfair+Display&display=swap");

.container .box:nth-child(even) {
  height: 100px;
  width: 100%;
  background-color: #488c16;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2%;
}

p {
  font-size: 2rem;
  margin: 0;
  color: white;
}

.text1 {
  font-family: "Courgette", cursive;
}
.text2 {
  font-family: "Palanquin", sans-serif;
}
.text3 {
  font-family: "Montserrat", sans-serif;
}
.text4 {
  font-family: "Fjord One", serif;
}
.text5 {
  font-family: "Playfair Display", serif;
}
.text6 {
  font-family: "Lato", sans-serif;
}

.container .box:nth-child(odd) {
  height: 100px;
  width: 100%;
  background-color: #29590a;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2%;
}
